<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1530064161350-7824b8cdeee9?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);">
  <div class="container">
    <h1>Mell's Cocktail Paradise</h1>
    <p>Find your favorite Cocktail recipes here</p>
    <a class="btn btn-primary" href="#">Check out recipes!</a>
  </div>
  <!-- <%= link_to "Create your own recipe", new_cocktail_path, class:"btn btn-primary" %> -->
</div>
